fieldset {
    background-color: white;
    margin-top: 5%;
    border: none;
    height: auto;
    width: 55%;
    padding: 40px;
    border-radius: 17px;
    margin-left: 21%;
}

fieldset input {
    height: 30px;
    width: 50%;
    margin-left: 35%;
    border-radius: 5px;
    border: 0.5px solid rgb(187, 184, 184);
    background: rgb(246, 246, 246);
}

#location {
    width: 2%;
    margin-left: 2%;
}

#colocation {
    width: 2%;
    margin-left: 5%;
}

#Adresse {
    margin-left: 25%;
    width: 50.4%;
    height: 30px;
    background: rgb(246, 246, 246);
    border-radius: 5px;
}

#comments {
    float: left;
    width: 100%;
    height: 155px;
    background: rgb(246, 246, 246);
    border-radius: 5px;
}

#dateDispo {
    width: 50%;
    margin-left: 16.5%;
}

#GES {
    margin-left: 29.5%;
    width: 50%;
    height: 30px;
    border-radius: 5px;
    background: rgb(246, 246, 246);
}

#etage {
    margin-top: -7%;
}

#surface {
    margin-left: 26.6%;
}

#charge {
    margin-left: 26%;
}

#caution {
    margin-left: 25.5%;
}

#prix {
    margin-left: 30%;
}

#typeAnnonce {
    height: 30px;
    width: 50%;
    margin-left: 18.5%;
    border-radius: 5px;
    border: 0.5px solid rgb(187, 184, 184);
    background: rgb(246, 246, 246);
}

#nombrePiece {
    margin-top: -5%;
}

#categorie {
    margin-left: 24%;
}

label {
    font-weight: bold;
}

#sauvegarde {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    margin: 5px;
    float: right;
    margin-top: -0.1%;
    margin-right: 2%;
}

#Annuler {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    float: right;
}

#Annuler a {
    text-decoration: none;
    color: white;
}

#title {
    margin-left: 39%;
}

body {
    background: #F1F1F1;
}

hr {
    font-size: 12px;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
}

#part-2 {
    float: right;
    width: 40%;
    margin-right: 15%;
}


/**/

fieldset .block {
    max-width: 250px;
    max-height: 295px;
    overflow: auto;
    margin-left: 30%;
}

.Imgpreview img {
    width: 150px!important;
    height: 140px;
    border-radius: 10px;
    box-shadow: 0 5px 15px -8px rgba(0, 0, 0, .24), 0 8px 10px -5px rgba(0, 0, 0, .2);
    margin: auto;
    cursor: pointer;
    gap: 30px;
    margin-top: 1%;
}

.invalid-feed {
    color: rgb(160, 17, 17);
    background-color: rgb(251, 238, 240);
    border-radius: 8px;
    height: 35px;
    margin-top: 2%;
    border: 0.3px solid rgb(211, 181, 181);
    justify-content: center;
    align-items: center;
    font-size: 18px;
}

.invalid-feed p {
    margin-top: 1%;
    margin-left: 2%;
}

input[type="file"] {
    font-size: 17px;
    color: #b8b8b8;
    background: #e7e7e7;
    border: none;
    border-radius: 3px;
    padding: 8px;
    cursor: pointer;
    text-shadow: 1px 1px #fff;
    color: black;
    width: 125px;
    height: 35px;
    margin-left: 40%;
    margin-top: 5%;
}

.Imgpreview {
    margin: 0 auto;
}

.Imgpreview i.remove {
    border-radius: 50%;
    background-color: #d6d6d6;
    cursor: pointer;
    font-size: medium;
    padding: 3px;
    font-weight: 900;
    z-index: 1080;
    left: 30%;
    position: initial;
    width: 35%;
}


/**/
