.profile{
    width: 800px;
    height: 250px;
    margin-left: 200px;
    border: black solid 1px;
    border-radius: 10px;
}
.cercle{
    width: 150px;
    height: 150px;
    border: black solid 1px;
    border-radius: 80px;
    margin-left: 50px;
    margin-top: 50px;
}
.cercle .fa-camera{
    margin-left: 60px;
    margin-top: 60px;
    font-size: 30px;
    color: rgb(63, 63, 63);
}
.formulaire_profile_particulier{
    width: 800px;
    height: 500px;
    margin-left: 200px;
    margin-top: 30px;
    border: black solid 1px;
    border-radius: 10px;
}
.sous_formulaire1 li,.sous_formulaire2 li{
    list-style: none;
    margin-top: 20px;
}
.sous_formulaire2 li{
    margin-top: 18px;
}
.ul1 .li1, .ul1 .li2{
    float: left;
    list-style: none;
    margin-left: 200px;
    margin-top: 20px;
}
.ul1 .li2{
    margin-left: 50px;
}
.Désactiver_Supprimer{
    margin-top: 20px;
    margin-left: 200px;   
}
.Désactiver_Supprimer li{
    list-style: none;
    margin-top: 20px;
}
.profile_ul li{
    float: left;
    list-style: none;
}
.profile_pub{
    width: 250px;
    height: 800px;
    border:black solid 1px;
    border-radius: 15px;
    margin-left:100px;
}
.contenu_profile{
    height: 800px;
}

.enregistre{
    margin-top: 450px;
    margin-left: 20px;
    position: absolute;
    border-radius: 10px;
    border:black solid 1px;
    background-color: #166FE5;
    color: white;
    width: 100px;
    height: 30px;
}
.enregistre ,.Désactiver_Supprimer{
    float: left;
}
/******* profile_particulier********/

.particulier li{
    float: left;
    list-style: none;
}
.donner_particulier li{
    list-style: none;
    float: none;
    line-height: 40px;
}
.donner_particulier{
    margin-top: 20px;
    margin-left: 50px;
}

.information_particulier{
    margin-left: 200px;
    line-height: 25px;
    margin-top: -20px;
}
/******* profile_agence********/
.formulaire_profile_agence{
    width: 800px;
    height: 600px;
    margin-left: 200px;
    margin-top: 30px;
    border: black solid 1px;
    border-radius: 10px;
}
.agence li{
    float: left;
    list-style: none;
}
.donner_agence li{
    list-style: none;
    float: none;
    line-height: 40px;
}
.donner_agence{
    margin-top: 10px;
    margin-left: 50px;
}
.information_agence{
    margin-left: 200px;
    line-height: 30px;
    margin-top: -20px;
}
.label{
    line-height: 20px;
}
    
